
# Theme: Churned Customer
Description: This script is going to answer several question from Pre-Test Iykra
<br> Author  : Dhanys Siswantoro
<br> Date    : 16 October 2019
<br> Sources : BRI Tower Lantai 15, Surabaya

In [1]:
import pandas as pd
import numpy as np
import statistics as st

# Question 1 :
1. Load churn.csv file from dataset folder, and assign it as ch_review?

In [11]:
ch_review = pd.read_csv('churn.csv',encoding='latin1')

# QUESTION 2:
How many rows and columns for df_review?

In [45]:
#Row :
print(len(ch_review))
#Column :
print(len(ch_review.columns))

5000
21

# QUESTION 3:
3. How many NaN value in dataset for Translated_Review column?

In [16]:
ch_review.isnull().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
class                            0
dtype: int64

# QUESTION 4:
4. Perform drop all NaN values and assign as new data frame named df_rev_clean!

In [18]:
df_rev_clean=ch_review.dropna()

In [19]:
df_rev_clean.isnull().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
class                            0
dtype: int64

# QUESTION 5
5. Upon dropping NaN, how many rows and columns remaining?

In [22]:
#Row :
print(len(df_rev_clean))
#Column :
print(len(df_rev_clean.columns))

5000
21

# QUESTION 6
6. Perform simple random sampling with only 3 sample towards df_rev_clean with random_state=10 without replacement

In [24]:
df_rev_clean.sample(n=3, random_state = 10, replace = False)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
245,40,22,408,188,0,0,0,110.3,107,18.75,...,93,14.15,202.3,96,9.10,9.5,5,2.57,0,0
4493,46,83,510,3540,0,1,37,133.1,117,22.63,...,89,14.57,218.1,92,9.81,10.9,4,2.94,3,0
4583,21,104,415,4068,0,0,0,246.4,108,41.89,...,102,17.47,208.1,125,9.36,14.1,8,3.81,2,0

# QUESTION 7
7. Preview database

In [27]:
ch_review.head()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

# QUESTION 8
8. What is the mean value of account length of area_code?

In [41]:
st.mode(df_rev_clean.area_code)

415

In [42]:
df_rev_clean['area_code'].value_counts()

415    2495
408    1259
510    1246
Name: area_code, dtype: int64

In [43]:
df_415 = df_rev_clean[df_rev_clean['area_code'].str.match('415')]

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas